.leaflet-marker-icon-wrapper {
	position: absolute
}

.leaflet-marker-iconlabel {
	background: #fff;
	-moz-border-radius: 7px; 
	-webkit-border-radius: 7px;
	border-radius: 7px;
	-moz-box-shadow: 0 3px 10px #888;
	 -webkit-box-shadow: 0 3px 14px #999;
	box-shadow: 0 3px 10px #888;
	display: block;
	font: 12px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
	padding: 4px 6px;
	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	white-space: nowrap;
}

.leaflet-zoom-anim .leaflet-marker-icon-wrapper {
	-webkit-transition: -webkit-transform 0.25s cubic-bezier(0.25,0.1,0.25,0.75);
	-moz-transition: -moz-transform 0.25s cubic-bezier(0.25,0.1,0.25,0.75);
	-o-transition: -o-transform 0.25s cubic-bezier(0.25,0.1,0.25,0.75);
	transition: transform 0.25s cubic-bezier(0.25,0.1,0.25,0.75);
}

.leaflet-touching .leaflet-marker-icon-wrapper {
	-webkit-transition: none;
	-moz-transition: none;
	-o-transition: none;
	transition: none;
}